body {
    margin: 0px; padding:0px;
    font-family: Bradley Hand, Helvetica, sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

game {
    background-image: url(http://localhost:57794/CLE/CLE4GAME/docs/img/backgrounds/level2.png);
    display: block;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
}

forground {
    box-sizing: border-box;
}

pointer {
    height: 50px;
    display: block;
    border-radius: 5px 10px 10px 5px;
    transition: width .4s ease-in-out;
    float: right;
    border-left: solid black 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#sleeppointer {
    background: rgb(0, 122, 255);
    background-image: url(../img/icons/sleep.png);   
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

#eatpointer {
    background-color: rgb(255, 59, 48);
    background-image: url(../img/icons/eat.png);
}

#drinkpointer {
    background-color: rgb(90, 200, 250);
    background-image: url(../img/icons/drink.png);
}

#exercisepointer {
    background-color:  rgb(255, 204, 0);
    background-image: url(../img/icons/exercise.png);
}

#playpointer {
    background-color: rgb(255, 149, 0);
    background-image: url(../img/icons/play.png);
}

#learnpointer {
    background-color: rgb(88, 86, 214);
    background-image: url(../img/icons/learn.png);
}


healthpointer {
    height: 50px;
    width: 4px;
    background-color: black;
    transition: transform .4s ease-in-out;
    display: block;
    float: right
}

bar {
    height: 50px;
    display: block;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    max-width: 400px;
    width:100%;    
}

/* 890 px en groter */
leftwrapper {
    float: left;
    width: 400px;
}

rightwrapper {
    float: right;
    margin-left:calc(100vw - 800px);
    width: 400px;    
}

#eatbar {
    background-color: rgba(255, 59, 48, 0.3);
    float: right;
}

#sleepbar {
    background-color: rgba(0, 122, 255, 0.3);
    float: left;
}

#drinkbar{
    background-color: rgba(90, 200, 250, 0.3);
    float: left;
}

#exercisebar{
    background-color: rgba(255, 204, 0, 0.3);
    float: right;
} 

#playbar {
    background-color: rgba(255, 149, 0, 0.3);
    float: left;
}

#learnbar {
    background-color: rgba(88, 86, 214, 0.3);
    float: right;
}

healthbar {
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    background: linear-gradient(to right, #4CD964, #4CD964 50%, #FF3B30);   
    display: block;
    max-width: 400px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 5px;
}

animal {
    max-width: 500px;
    max-height: 500px;
    padding: 20px;
    margin: auto;
    display:block;
    animation: fishanimation 4s ease-in-out infinite alternate;
}

animal p {
    font-size: 20px;
}

animal img {
    width: 45vh;
    margin: 0 auto;
}

animalname {
    position: absolute;
    top: 15%;
    text-align: center;
    display: inline-block;
    font-family: Bradley Hand, Helvetica, sans-serif;
    font-size: 40px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

buttonWrapper {
    position: fixed;
    width:100%;
    bottom: 5%;
    text-align: center;
    display: inline-block;
}

button {
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.4s;
    height: 100px;
    width: 100px;
    border: none;
    outline: none; 
    margin: 0px 20px;
    border-radius: 50%;
    box-shadow: 0px 9px rgba(145, 145, 145, 0.4);
    touch-action: manipulation;
}

button:hover{
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.4s;
    border: 4px solid rgb(230, 230, 230);
}

button:active {
    transform: translateY(8px);
    box-shadow: 0px 1px rgba(145, 145, 145, 0.4);
  }

button img {
    height: 64px;
    width: 64px;
}

#eatbutton {
    background-color: rgb(255, 59, 48);
}

#sleepbutton {
    background-color: rgb(0, 122, 255);
}

#drinkbutton {
    background-color: rgb(90, 200, 250);
}

#exercisebutton {
    background-color: rgb(255, 204, 0);
}

#playbutton {
    background-color: rgb(255, 149, 0);
}

#learnbutton {
    background-color: rgb(88, 86, 214)
}

#evolvebutton {
    background-color: rgb(252, 99, 127);
    height: 40px;
    width: 80px;
    margin: 0px 0px;
    border-radius: 3px;
    box-shadow: 5px rgba(230, 230, 230, 0.6);
}

#evolvebutton:hover{
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.4s;
    border: 2px solid rgb(230, 230, 230);
}

#evolvebutton:active {
    transform: translateY(5px);
    box-shadow: 0px 1px rgba(230, 230, 230, 0.8);
  }

gamescore {
    position: fixed;
    width: 100%;
    bottom: 0%;
    text-align: center;
}

  /* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(59, 59, 59, 0.88); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    font-size: 20px;
    color: white;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal-content p {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    display: block;
}

.modal-content img {
    height: 40vh;
    display: block;
    margin: 0 auto;
}

@keyframes fishanimation {
    0% {
      transform: translateY(0px);
    }
    
    100% {
      transform: translateY(40px);
    }
}

@media only screen and (max-width: 890px) {
    sleepbar, eatbar {
        float: none;
        margin: 0 auto;
        margin-bottom: 5px;
        display: block;
    }
    healthbar {
        max-width: 400px;
    }
    leftwrapper {
        max-width: 45%;
    }
    
    rightwrapper {
        max-width: 45%;
        margin-left: 0;
    }
    animal img {
        width: 30vh;
        display: block;
    }
    animal {
        padding-top: 0;
        touch-action: manipulation;
    }
    button img {
        height: 2vh;
        width: 2vh;
    }
    button {
        height: 6vh;
        width: 6vh;
        margin: 1vh;
    }
    animalname {
        font-size: 3vh;
    }
}

@media only screen and (max-width: 1102px) {
    animalname {
        position: inherit;
        text-align: center;
        display: inline-block;
        font-family: Bradley Hand, Helvetica, sans-serif;
        font-size: 40px;
        margin: 0 auto;
        width: 100%;
    }
}

@media only screen and (max-width: 525px) {

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#arrow{
    height: 7vh;
    width: 7vh;
    cursor: pointer;
}

.navMenu{
	width: 100%;
	background-color: #92bd69;
    font-size: 3.75vh;
    color: white;
    box-shadow: 0 4px 6px #a9a9a9,0 1px 3px rgba(0,0,0,.08)!important;
    transition: 0.5s margin ease;
    margin-bottom: 25px;
    border-radius: 3.5px;
}

.navMenu:hover {
    cursor: pointer;
    margin-top: 8px !important;
    transition: 0.5s box-shadow margin opacity ease;
    box-shadow: 0 6px 5px #a9a9a9,0 1px 3px rgba(0,0,0,.08)!important;
    opacity: 0.9;
}

input#un-mute {
    display: none;
}

.mute img {
    height: 5.75vh;
    width: 5.75vh;
}
.unmute img {
    display: none;
    height: 5.75vh;
    width: 5.75vh;
}

input#un-mute:checked ~ .unmute img {
    display: initial;
}

input#un-mute:checked ~ .mute img {
    display: none;
}

#logo{
    width: auto;
    height: 20vh;

}

bubble { 
    display: block;
    position: absolute;
    width: 50px; 
    height: 50px; 
    background-color: white;
    left:50vw;
    animation: bubbleup 4s linear infinite, proteroanimation 4s ease-in-out infinite alternate;
    
    
  }

paddle {
    background-color:black;
    width:25px; height:100px;
    display: block;
    position: absolute;
}

  @keyframes bubbleup {
        0% {
          transform: translateY(20px);
        }
        
        100% {
          transform: translateY(60px);
        }
    }

  

/*Menu END*/

